<h1>Timeline#show</h1>
<p>Find me in app/views/timeline/show.html.erb</p>



<aside>
  SUP!
</aside>
<div class="timeline">
  <% @messages.each do |message| %>
    <%= render message %>

  <% end %>

</div>
